body {
    background-image: url('https://wallpapercave.com/wp/wp995451.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
  
.card-pika {
    background-image: url('https://i.ebayimg.com/images/g/POgAAOSwfspi-FMA/s-l1200.jpg'); 
    border-radius: 5px;
    background-position: center;
    background-size: cover;
  }  

.card-char {
    background-image: url('https://i.redd.it/which-is-your-favorite-art-to-use-for-basic-energy-v0-73st7lmtncmb1.jpg?width=700&format=pjpg&auto=webp&s=08cb9256f9345827e0ef2516d41b343c7a2daabb'); 
    border-radius: 5px;
    background-position: center;
    background-size: cover;
  }

.card-bulb {
    background-image: url('https://i.pinimg.com/736x/e4/c5/55/e4c555c08597e023b4f30f61e0d7ad21.jpg'); 
    border-radius: 5px;
    background-position: center;
    background-size: cover;
}

h1 {
    text-align: center;
    color: orange;
}

.poke-welcome {
    text-align: center;
    padding-top: 80px;
    color: orange;
}

.carousel-caption {
    margin-top: 30px;
}
